Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

parameters:
  # 
  # 
  # These parameters are passed down to the continuation pipeline
  # Thet are defined here so that the UI form for triggering pipelines
  # is prepopulated and only allows for valid values to be set
  # 
  # 
  # An explicit boolean parameter that triggers the tag-service pipeline
  run-tag-service:
    type: boolean
    description: "Run the tag-service job. tag-service--bump and tag-service--service parameters also need to be specified"
    default: false
  # Controls the version bump for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--bump:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "major", "minor", "patch", "prerelease", "finalize-prerelease", "missing"]
    default: ""
  # Controls the affected service for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--service:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "op-signer", "op-ufm", "op-txproxy", "proxyd", "peer-mgmt-service"]
    default: ""
  # Toggle between prerelase and release for the tag-service job
  tag-service--prerelease:
    type: boolean
    description: "Toggle between prerelase and release for the tag-service job"
    default: false

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            .circleci/.* run-all true
            .github/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

refactor(proxyd): enhance logging in populateContext for better debugging and add helper function to retrieve map keys
  proxyd/server.go
Due: run-build-proxyd

refactor(proxyd): initialize resolvedAuth map and improve logging for server creation and context population
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

fix(ci): coverage. (#245)
  .circleci/continue_config.yml
Due: run-all

refactor: test
  proxyd/integration_tests/consensus_custom_config_test.go
Due: run-build-proxyd

feat(proxyd): add callback to performAuthCallback
  proxyd/server.go
Due: run-build-proxyd

refactor(proxyd): update authorization header format in performAuthCallback
  proxyd/server.go
Due: run-build-proxyd

chore: comment
  proxyd/consensus_poller.go
Due: run-build-proxyd

feat(proxyd): add threshold configs to handle safe and finalized block drift (#229)
  proxyd/backend.go
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/example.config.toml
  proxyd/integration_tests/consensus_custom_config_test.go
  proxyd/integration_tests/testdata/consensus_block_drift_threshold.toml
  proxyd/proxyd.go
Due: run-build-proxyd

feat(op-acceptor): better test error logging
  op-acceptor/cmd/main_test.go
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat(op-acceptor): use json output for go tests.
  op-acceptor/cmd/main_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat(op-signer): add AWS KMS signature provider
  op-signer/go.mod
  op-signer/go.sum
  op-signer/service/provider/aws_kms.go
  op-signer/service/provider/cloudkms.go
  op-signer/service/provider/provider.go
Due: run-build-op-signer

feat(op-signer): add provider factory for signature providers
  op-signer/app.go
  op-signer/service/config.go
  op-signer/service/config_test.go
  op-signer/service/provider/provider.go
  op-signer/service/service.go
Due: run-build-op-signer

feat(op-signer): add KeyProvider enum for cloud provider selection
  op-signer/service/config.go
Due: run-build-op-signer

refactor(op-signer): move KeyProvider to top-level config
  op-signer/service/config.go
  op-signer/service/config_test.go
Due: run-build-op-signer

chore(deps): add AWS SDK dependencies
  op-signer/go.mod
  op-signer/go.sum
Due: run-build-op-signer

chore(lint): fixed spelling
  op-signer/service/provider/aws_kms.go
Due: run-build-op-signer

test(op-signer): add AWS KMS signature provider tests
  op-signer/service/provider/aws_kms_test.go
Due: run-build-op-signer

fix(op-signer): use %w verb for error wrapping in DER conversion
  op-signer/service/provider/utils.go
Due: run-build-op-signer

feat(op-signer): add signature format conversion utilities
  op-signer/service/provider/utils.go
  op-signer/service/provider/utils_test.go
Due: run-build-op-signer

feat(op-signer): add DER encoding utilities for secp256k1 keys
  op-signer/service/provider/utils.go
  op-signer/service/provider/utils_test.go
Due: run-build-op-signer

fix: build error caused by dep version change
  op-signer/go.mod
  op-signer/go.sum
Due: run-build-op-signer

op-conductor-ops: docker image and bootstrap command
  .circleci/config.yml
  .circleci/continue_config.yml
  op-conductor-ops/Dockerfile
  op-conductor-ops/example.config.toml
  op-conductor-ops/network.py
  op-conductor-ops/op-conductor-ops.py
  op-conductor-ops/sequencer.py
Due: run-all

op-conductor-ops: docker image and bootstrap command (#249)
  .circleci/config.yml
  .circleci/continue_config.yml
  op-conductor-ops/Dockerfile
  op-conductor-ops/example.config.toml
  op-conductor-ops/network.py
  op-conductor-ops/op-conductor-ops.py
  op-conductor-ops/sequencer.py
Due: run-all

Fix op-conductor-ops docker builds
  .circleci/continue_config.yml
  op-conductor-ops/Dockerfile
Due: run-all

Fix op-conductor-ops docker builds (#250)
  .circleci/continue_config.yml
  op-conductor-ops/Dockerfile
Due: run-all

op-conductor-ops: fixes multiple default args
  op-conductor-ops/op-conductor-ops.py
Due: none

op-conductor-ops: fixes multiple default args (#251)
  op-conductor-ops/op-conductor-ops.py
Due: none

feat(op-acceptor): use json output for go tests. (#248)
  op-acceptor/cmd/main_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat: add support for local only envrc
  op-signer/.envrc
Due: run-build-op-signer

feat: add .envrc.local to gitignore
  op-signer/.gitignore
Due: run-build-op-signer

feat: add local aws config to gitignore
  .gitignore
Due: none

feat: update gen-local-tls.sh to use docker
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

feat: set the current users uid and gid
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

feat(op-acceptor): better error logging for failing tests.
  op-acceptor/nat.go
  op-acceptor/runner/logging_test.go
  op-acceptor/runner/runner.go
  op-acceptor/types/test.go
Due: none
