Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

parameters:
  # 
  # 
  # These parameters are passed down to the continuation pipeline
  # Thet are defined here so that the UI form for triggering pipelines
  # is prepopulated and only allows for valid values to be set
  # 
  # 
  # An explicit boolean parameter that triggers the tag-service pipeline
  run-tag-service:
    type: boolean
    description: "Run the tag-service job. tag-service--bump and tag-service--service parameters also need to be specified"
    default: false
  # Controls the version bump for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--bump:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "major", "minor", "patch", "prerelease", "finalize-prerelease", "missing"]
    default: ""
  # Controls the affected service for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--service:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "op-signer", "op-ufm", "op-txproxy", "proxyd", "peer-mgmt-service"]
    default: ""
  # Toggle between prerelase and release for the tag-service job
  tag-service--prerelease:
    type: boolean
    description: "Toggle between prerelase and release for the tag-service job"
    default: false

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            .circleci/.* run-all true
            .github/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix(op-acceptor): tests; TestCLIServiceFlag
  op-acceptor/cmd/main.go
  op-acceptor/runner/output_capture_test.go
Due: none

fix(op-acceptor): tests; TestCLIServiceFlag (#528)
  op-acceptor/cmd/main.go
  op-acceptor/runner/output_capture_test.go
Due: none

fix(ci): goreleaser; make latest release.
  cci-stats/.goreleaser.yaml
  op-acceptor/.goreleaser.yaml
  op-conductor-mon/.goreleaser.yaml
  op-signer/.goreleaser.yaml
  op-ufm/.goreleaser.yaml
  peer-mgmt-service/.goreleaser.yaml
  proxyd/.goreleaser.yaml
Due: run-build-op-conductor-mon, run-build-op-signer, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats

fix(ci): goreleaser; make latest release. (#527)
  cci-stats/.goreleaser.yaml
  op-acceptor/.goreleaser.yaml
  op-conductor-mon/.goreleaser.yaml
  op-signer/.goreleaser.yaml
  op-ufm/.goreleaser.yaml
  peer-mgmt-service/.goreleaser.yaml
  proxyd/.goreleaser.yaml
Due: run-build-op-conductor-mon, run-build-op-signer, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats

fix: update CODEOWNERS of op-txproxy to ecosystem team
  .github/CODEOWNERS
Due: run-all

fix: update CODEOWNERS of op-txproxy to ecosystem team (#529)
  .github/CODEOWNERS
Due: run-all

chore: fix some comments to improve readability
  op-conductor-ops/README.md
Due: none

feat(proxyd): graceful server shutdown
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

ci: migrate docker builds from CircleCI to GitHub Actions
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/branches.yaml
  .github/workflows/tags.yaml
Due: run-all

wait up to gracefulShutdownDuration
  proxyd/server.go
Due: run-build-proxyd

feat(proxyd): add healthcheck and drain functionality from Uniswap fork
  proxyd/backend.go
  proxyd/config.go
  proxyd/healthcheck.go
  proxyd/healthcheck_test.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

Various fixes based on PR comments
  proxyd/backend.go
  proxyd/backend_probe.go
  proxyd/backend_probe_test.go
  proxyd/config.go
  proxyd/healthcheck_test.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

feat(proxyd): prometheus metrics for probe worker
  proxyd/backend_probe.go
  proxyd/backend_probe_test.go
  proxyd/metrics.go
  proxyd/proxyd.go
Due: run-build-proxyd

fix(proxyd): log correct request ID
  proxyd/server.go
Due: run-build-proxyd

chore(proxyd): log remote IP
  proxyd/server.go
Due: run-build-proxyd

lint
  proxyd/backend_probe.go
Due: run-build-proxyd

revert unnecessary change
  proxyd/server.go
Due: run-build-proxyd

feat(proxyd): rate limit exempt API keys
  proxyd/integration_tests/rate_limit_test.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

fix backend test
  proxyd/backend_test.go
Due: run-build-proxyd

remove explicit QN/Alchemy api key env vars
  proxyd/integration_tests/rate_limit_test.go
  proxyd/proxyd.go
Due: run-build-proxyd

remove unnecessary test
  proxyd/integration_tests/rate_limit_test.go
Due: run-build-proxyd

Comments: disallow api key in url + bypassLimit check in rateLimitSender
  proxyd/integration_tests/rate_limit_test.go
  proxyd/server.go
Due: run-build-proxyd

constant time api key comparison
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd

enforce nonnegative probe cfg vals
  proxyd/backend.go
Due: run-build-proxyd

fix(proxyd): Use client TLS config for probe worker
  proxyd/backend_probe.go
  proxyd/backend_probe_test.go
  proxyd/proxyd.go
Due: run-build-proxyd

remove insecureSkipVerify config var
  proxyd/backend.go
Due: run-build-proxyd

fix(proxyd): log tracing request ID and remote IPs (#537)
  proxyd/server.go
Due: run-build-proxyd

Update proxyd/backend.go
  proxyd/backend.go
Due: run-build-proxyd

fixes for comments
  proxyd/backend.go
  proxyd/config.go
Due: run-build-proxyd

Trim whitespace + filter out empty strings, with testing
  proxyd/proxyd.go
  proxyd/proxyd_test.go
Due: run-build-proxyd

feat(proxyd): rate limit exempt API keys (#538)
  proxyd/backend_test.go
  proxyd/integration_tests/rate_limit_test.go
  proxyd/proxyd.go
  proxyd/proxyd_test.go
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd

ci: migrate docker builds from CircleCI to GitHub Actions (#532)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/branches.yaml
  .github/workflows/tags.yaml
Due: run-all

feat(proxyd): tx validation middleware
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

simplify buildFullTxPayload default
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

fix(op-acceptor): ensure logs are written to disk for timeout cases
  op-acceptor/logging/filelogger.go
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
Due: none

fix(op-acceptor): ensure logs are written to disk for timeout cases (#540)
  op-acceptor/logging/filelogger.go
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
Due: none

address comments
  proxyd/backend.go
  proxyd/example.config.toml
  proxyd/server.go
  proxyd/tx_validation_middleware.go
  proxyd/tx_validation_middleware_test.go
Due: run-build-proxyd

configurable graceful shutdown duration
  proxyd/config.go
  proxyd/integration_tests/testdata/multicall.toml
  proxyd/integration_tests/testdata/multicall_with_rpc_error_check.toml
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

Cant repro test failures locally, trying adding 0s shutdown duration to all tests
  proxyd/config.go
  proxyd/integration_tests/testdata/backend_timeout.toml
  proxyd/integration_tests/testdata/batch_timeout.toml
  proxyd/integration_tests/testdata/batching.toml
  proxyd/integration_tests/testdata/block_height_zero_and_network_errors.toml
  proxyd/integration_tests/testdata/caching.toml
  proxyd/integration_tests/testdata/caching_replica.toml
  proxyd/integration_tests/testdata/consensus.toml
  proxyd/integration_tests/testdata/consensus_block_drift_threshold.toml
  proxyd/integration_tests/testdata/consensus_skip_sync_check.toml
  proxyd/integration_tests/testdata/failover.toml
  proxyd/integration_tests/testdata/fallback.toml
  proxyd/integration_tests/testdata/frontend_rate_limit.toml
  proxyd/integration_tests/testdata/interop_validation.toml
  proxyd/integration_tests/testdata/max_block_range.toml
  proxyd/integration_tests/testdata/max_rpc_conns.toml
  proxyd/integration_tests/testdata/out_of_service_interval.toml
  proxyd/integration_tests/testdata/public_access.toml
  proxyd/integration_tests/testdata/retries.toml
  proxyd/integration_tests/testdata/sender_rate_limit.toml
  proxyd/integration_tests/testdata/size_limits.toml
  proxyd/integration_tests/testdata/smoke.toml
  proxyd/integration_tests/testdata/tx_hash_logging.toml
  proxyd/integration_tests/testdata/whitelist.toml
  proxyd/integration_tests/testdata/ws.toml
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd
