Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

parameters:
  # 
  # 
  # These parameters are passed down to the continuation pipeline
  # Thet are defined here so that the UI form for triggering pipelines
  # is prepopulated and only allows for valid values to be set
  # 
  # 
  # An explicit boolean parameter that triggers the tag-service pipeline
  run-tag-service:
    type: boolean
    description: "Run the tag-service job. tag-service--bump and tag-service--service parameters also need to be specified"
    default: false
  # Controls the version bump for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--bump:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "major", "minor", "patch", "prerelease", "finalize-prerelease", "missing"]
    default: ""
  # Controls the affected service for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--service:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "op-signer", "op-ufm", "op-txproxy", "proxyd", "peer-mgmt-service"]
    default: ""
  # Toggle between prerelase and release for the tag-service job
  tag-service--prerelease:
    type: boolean
    description: "Toggle between prerelase and release for the tag-service job"
    default: false

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            .circleci/.* run-all true
            .github/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

chore(docs): update release instructions (#267)
  op-acceptor/README.md
  op-acceptor/runner/runner.go
Due: none

feat: updates to release.md
  RELEASE.md
Due: none

jsonrpc error
  proxyd/server.go
Due: run-build-proxyd

feat(op-acceptor): file-based test logging.
  op-acceptor/.gitignore
  op-acceptor/README.md
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_test.go
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/runner/runner.go
Due: none

don't overwrite TLS_DIR
  op-signer/gen-local-creds.sh
Due: run-build-op-signer

add cases to enable constrained generation
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

sh compatibility
  op-signer/gen-local-creds.sh
Due: run-build-op-signer

parameterize gen-local-tls further
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

rename to gen-local-creds
  op-signer/README.md
  op-signer/gen-local-creds.sh
Due: run-build-op-signer

rename client_key to client_signing_key
  op-signer/gen-local-creds.sh
Due: run-build-op-signer

feat(op-signer/gen-local-creds): parameterize gen script (#265)
  op-signer/README.md
  op-signer/gen-local-creds.sh
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

feat(op-acceptor): file-based test logging. (#269)
  op-acceptor/.gitignore
  op-acceptor/README.md
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_test.go
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/runner/runner.go
Due: none

feat(docs): update release docs.
  op-acceptor/README.md
Due: none

feat(docs): update release docs. (#273)
  op-acceptor/README.md
Due: none

feat(op-acceptor): logging; produce raw Go JSON event logs.
  op-acceptor/README.md
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/raw_json_sink.go
  op-acceptor/logging/raw_json_sink_test.go
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
Due: none

feat(op-acceptor): logging; produce raw Go JSON event logs. (#274)
  op-acceptor/README.md
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/raw_json_sink.go
  op-acceptor/logging/raw_json_sink_test.go
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
Due: none

fix(op-acceptor): don't run N*N tests
  op-acceptor/runner/runner.go
Due: none

Update RELEASE.md
  RELEASE.md
Due: none

chore(docs): updates release.md (#272)
  RELEASE.md
Due: none

feat: WIP infra book
  book/book.toml
  book/src/SUMMARY.md
  book/src/cci-stats/intro.md
  book/src/intro.md
  book/src/op-acceptor/intro.md
  book/src/op-conductor-mon/intro.md
  book/src/op-conductor-ops/intro.md
Due: none

feat: add list networks command
  op-conductor-ops/op-conductor-ops.py
Due: none

feat: add list-networks command
  op-conductor-ops/op-conductor-ops.py
Due: none

explicitly handle some backend responses so we don't mark as unserviceable
  proxyd/backend.go
Due: run-build-proxyd

feat: add list-networks command (#277)
  op-conductor-ops/op-conductor-ops.py
Due: none

Use signBlockPayload metric properly (#209)
  op-signer/app.go
  op-signer/service/metrics.go
  op-signer/service/service.go
Due: run-build-op-signer

feat: allow for builder urls to be set conditionally
  op-conductor-ops/config.py
  op-conductor-ops/op-conductor-ops.py
  op-conductor-ops/sequencer.py
Due: none

test: shift from geth to op-geth
  proxyd/go.mod
  proxyd/go.sum
Due: run-build-proxyd

chore: Update `go-ethereum` dep in proxyd
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/sender_rate_limit_test.go
Due: run-build-proxyd

feat: print check for if builder is in sync instead of number
  op-conductor-ops/op-conductor-ops.py
Due: none

tidy-up proxyd backend response handling
  proxyd/backend.go
Due: run-build-proxyd

explicitly handle some backend responses so we don't mark as unservic… (#279)
  proxyd/backend.go
Due: run-build-proxyd
