Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

parameters:
  # 
  # 
  # These parameters are passed down to the continuation pipeline
  # Thet are defined here so that the UI form for triggering pipelines
  # is prepopulated and only allows for valid values to be set
  # 
  # 
  # An explicit boolean parameter that triggers the tag-service pipeline
  run-tag-service:
    type: boolean
    description: "Run the tag-service job. tag-service--bump and tag-service--service parameters also need to be specified"
    default: false
  # Controls the version bump for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--bump:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "major", "minor", "patch", "prerelease", "finalize-prerelease", "missing"]
    default: ""
  # Controls the affected service for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--service:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "op-signer", "op-ufm", "op-txproxy", "proxyd", "peer-mgmt-service"]
    default: ""
  # Toggle between prerelase and release for the tag-service job
  tag-service--prerelease:
    type: boolean
    description: "Toggle between prerelase and release for the tag-service job"
    default: false

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            .circleci/.* run-all true
            .github/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

improved testresult error type
  op-nat/runner/runner.go
  op-nat/runner/runner_test.go
  op-nat/types/test.go
  op-nat/types/types.go
Due: none

added gandalf easter egg
  op-nat/gandalf.go
  op-nat/nat.go
Due: none

go mod tidy
  op-nat/go.mod
Due: none

made path to go binary configurable
  op-nat/config.go
  op-nat/flags/flags.go
  op-nat/nat.go
  op-nat/runner/runner.go
Due: none

renamed service to op-acceptor
  .circleci/config.yml
  .circleci/continue_config.yml
  README.md
  op-acceptor/.dockerignore
  op-acceptor/.gitignore
  op-acceptor/.goreleaser.yaml
  op-acceptor/Dockerfile
  op-acceptor/Makefile
  op-acceptor/README.md
  op-acceptor/cmd/main.go
  op-acceptor/config.go
  op-acceptor/devnets/simple-devnet.json
  op-acceptor/docker-compose.yml
  op-acceptor/example-validators.yaml
  op-acceptor/flags/flags.go
  op-acceptor/flags/flags_test.go
  op-acceptor/gandalf.go
  op-acceptor/go.mod
  op-acceptor/go.sum
  op-acceptor/justfile
  op-acceptor/manifest.go
  op-acceptor/metrics/metrics.go
  op-acceptor/metrics/metrics_test.go
  op-acceptor/metrics/testdata/prometheus.yml
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/registry/registry.go
  op-acceptor/registry/registry_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/service/healthz_server.go
  op-acceptor/service/metrics_server.go
  op-acceptor/service/service.go
  op-acceptor/types/gate.go
  op-acceptor/types/gate_test.go
  op-acceptor/types/suite.go
  op-acceptor/types/test.go
  op-acceptor/types/validator.go
  ops/ci-tag-docker-release/ci-docker-tag-op-stack-release.sh
Due: run-all

feat: adjust metric to include multicall in rpc_requests_total metric
  proxyd/backend.go
Due: run-build-proxyd

feat: adjust metric to include multicall in rpc_requests_total metric (#216)
  proxyd/backend.go
Due: run-build-proxyd

feat(op-acceptor): periodic running.
  op-acceptor/config.go
  op-acceptor/example-validators.yaml
  op-acceptor/flags/flags.go
  op-acceptor/go.mod
  op-acceptor/nat.go
  op-acceptor/nat_test.go
Due: none

commit existing replica-healthcheck module
  replica-healthcheck/.env.example
  replica-healthcheck/.eslintrc.js
  replica-healthcheck/.gitignore
  replica-healthcheck/.lintstagedrc.yml
  replica-healthcheck/.prettierrc.js
  replica-healthcheck/CHANGELOG.md
  replica-healthcheck/README.md
  replica-healthcheck/package.json
  replica-healthcheck/src/index.ts
  replica-healthcheck/src/service.ts
  replica-healthcheck/tsconfig.json
  replica-healthcheck/yarn.lock
Due: none

add nvmrc
  replica-healthcheck/.nvmrc
Due: none

upgrade deps
  replica-healthcheck/.gitignore
  replica-healthcheck/package.json
  replica-healthcheck/yarn.lock
Due: none

add dockerfile
  replica-healthcheck/Dockerfile
Due: none

add basic justfile
  replica-healthcheck/justfile
Due: none

fix(op-acceptor): goreleaser
  op-acceptor/.goreleaser.yaml
Due: none

upgrade eslint
  replica-healthcheck/eslint.config.mjs
  replica-healthcheck/package.json
  replica-healthcheck/yarn.lock
Due: none

add basic circleci config
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-all

set docker_context
  .circleci/continue_config.yml
Due: run-all

remove legacy eslint config
  replica-healthcheck/.eslintrc.js
Due: none

fix(op-acceptor): goreleaser (#220)
  op-acceptor/.goreleaser.yaml
Due: none

feat(op-acceptor): readme; release creation.
  op-acceptor/README.md
Due: none

feat(op-acceptor): add Go binary to docker image.
  op-acceptor/.goreleaser.yaml
  op-acceptor/Dockerfile
Due: none

feat: restore replica-healthcheck (#221)
  .circleci/config.yml
  .circleci/continue_config.yml
  replica-healthcheck/.env.example
  replica-healthcheck/.gitignore
  replica-healthcheck/.lintstagedrc.yml
  replica-healthcheck/.nvmrc
  replica-healthcheck/.prettierrc.js
  replica-healthcheck/CHANGELOG.md
  replica-healthcheck/Dockerfile
  replica-healthcheck/README.md
  replica-healthcheck/eslint.config.mjs
  replica-healthcheck/justfile
  replica-healthcheck/package.json
  replica-healthcheck/src/index.ts
  replica-healthcheck/src/service.ts
  replica-healthcheck/tsconfig.json
  replica-healthcheck/yarn.lock
Due: run-all

feat: add config to skip is syncing check
  proxyd/backend.go
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/example.config.toml
  proxyd/proxyd.go
Due: run-build-proxyd

feat(op-acceptor): readme; release creation. (#222)
  op-acceptor/README.md
Due: none

feat(op-acceptor): add Go binary to docker image. (#223)
  op-acceptor/.goreleaser.yaml
  op-acceptor/Dockerfile
Due: none

feat(op-acceptor): periodic running. (#218)
  op-acceptor/config.go
  op-acceptor/example-validators.yaml
  op-acceptor/flags/flags.go
  op-acceptor/go.mod
  op-acceptor/nat.go
  op-acceptor/nat_test.go
Due: none

feat(op-acceptor): handle package tests better.
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/types/test.go
  op-acceptor/types/validator.go
Due: none

test: add test for skipping sync check
  proxyd/integration_tests/consensus_custom_config_test.go
  proxyd/integration_tests/testdata/consensus_skip_sync_check.toml
Due: run-build-proxyd

.
  proxyd/integration_tests/testdata/consensus_skip_sync_check.toml
Due: run-build-proxyd

feat(proxyd): add config to skip is syncing check (#224)
  proxyd/backend.go
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/example.config.toml
  proxyd/integration_tests/consensus_custom_config_test.go
  proxyd/integration_tests/testdata/consensus_skip_sync_check.toml
  proxyd/proxyd.go
Due: run-build-proxyd

feat(proxyd): add threshold configs to handle safe and finalized block drift
  proxyd/backend.go
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/example.config.toml
  proxyd/integration_tests/consensus_custom_config_test.go
  proxyd/integration_tests/testdata/consensus_block_drift_threshold.toml
  proxyd/proxyd.go
Due: run-build-proxyd
