Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

refactor(op-acceptor): split monolithic runner into focused components
  op-acceptor/runner/adapters.go
  op-acceptor/runner/collector.go
  op-acceptor/runner/collector_test.go
  op-acceptor/runner/constants.go
  op-acceptor/runner/coordinator.go
  op-acceptor/runner/doc.go
  op-acceptor/runner/executor.go
  op-acceptor/runner/jsonstore.go
  op-acceptor/runner/parser.go
  op-acceptor/runner/parser_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/types/tree.go
Due: none

chore(op-acceptor): runner; removed redundant function.
  op-acceptor/runner/adapters.go
  op-acceptor/runner/coordinator.go
Due: none

refactor(op-acceptor): improve error handling in NewTestExecutor
  op-acceptor/runner/collector.go
  op-acceptor/runner/executor.go
  op-acceptor/runner/executor_test.go
  op-acceptor/runner/jsonstore.go
  op-acceptor/runner/parser.go
  op-acceptor/runner/runner.go
Due: none

refactor(op-acceptor): improve parser conditional readability
  op-acceptor/runner/parser.go
  op-acceptor/runner/parser_test.go
Due: none

refactor(op-acceptor): test runner (#448)
  op-acceptor/runner/adapters.go
  op-acceptor/runner/collector.go
  op-acceptor/runner/collector_test.go
  op-acceptor/runner/constants.go
  op-acceptor/runner/coordinator.go
  op-acceptor/runner/doc.go
  op-acceptor/runner/executor.go
  op-acceptor/runner/executor_test.go
  op-acceptor/runner/jsonstore.go
  op-acceptor/runner/parser.go
  op-acceptor/runner/parser_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/types/tree.go
Due: none

refactor(op-acceptor): logging; split per-test logs into separate files
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_test.go
  op-acceptor/reporting/html_sink.go
Due: none

refactor(op-acceptor): logging; split per-test logs into separate files (#453)
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_test.go
  op-acceptor/reporting/html_sink.go
Due: none

feat: introduce mise for tool version management (#452)
  .circleci/continue_config.yml
  README.md
  mise.toml
  op-acceptor/Dockerfile
  op-acceptor/Makefile
  op-acceptor/README.md
  op-acceptor/justfile
  op-acceptor/mise.toml
  op-conductor-mon/Dockerfile
  op-conductor-mon/Makefile
  op-conductor-mon/go.mod
  op-conductor-ops/Dockerfile
Due: run-build-op-conductor-mon, run-all

fix go.mod and go.sum
  proxyd/go.mod
  proxyd/go.sum
Due: run-build-proxyd

remove useless wss logs
  proxyd/backend.go
Due: run-build-proxyd

op-acceptor: add console progress indicator
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/runner/adapters.go
  op-acceptor/runner/coordinator.go
  op-acceptor/runner/parallel.go
  op-acceptor/runner/parallel_comprehensive_test.go
  op-acceptor/runner/parallel_executor_validation_test.go
  op-acceptor/runner/parallel_test.go
  op-acceptor/runner/progress.go
  op-acceptor/runner/progress_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

lint fix
  op-acceptor/runner/progress.go
Due: none

refactor(op-acceptor): remove redundant ui param from NewParallelExecutor
  op-acceptor/runner/parallel.go
  op-acceptor/runner/parallel_comprehensive_test.go
  op-acceptor/runner/parallel_executor_validation_test.go
  op-acceptor/runner/parallel_test.go
  op-acceptor/runner/runner.go
Due: none

refactor(op-acceptor): add UIProvider interface for dependency injection
  op-acceptor/Makefile
  op-acceptor/runner/parallel.go
  op-acceptor/runner/parallel_executor_validation_test.go
  op-acceptor/runner/runner.go
Due: none

feat(op-acceptor): progress indicator refactor (#458)
  op-acceptor/Makefile
  op-acceptor/runner/parallel.go
  op-acceptor/runner/parallel_comprehensive_test.go
  op-acceptor/runner/parallel_executor_validation_test.go
  op-acceptor/runner/parallel_test.go
  op-acceptor/runner/runner.go
Due: none

refactor reportProgress method, add unit tests
  op-acceptor/runner/progress.go
  op-acceptor/runner/progress_test.go
Due: none

feat(op-acceptor): add percentage completion to progress indicator
  op-acceptor/runner/progress.go
  op-acceptor/runner/progress_test.go
Due: none

feat(op-acceptor): add console progress indicator (#457)
  op-acceptor/Makefile
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/runner/adapters.go
  op-acceptor/runner/coordinator.go
  op-acceptor/runner/parallel.go
  op-acceptor/runner/parallel_executor_validation_test.go
  op-acceptor/runner/progress.go
  op-acceptor/runner/progress_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

fix(op-acceptor): go releaser
  .circleci/continue_config.yml
Due: run-all

fix(op-acceptor): go releaser (#459)
  .circleci/continue_config.yml
Due: run-all

feat: improve http client configuration (#11)
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/proxyd.go
Due: run-build-proxyd

feat(op-acceptor): surface effective config
  op-acceptor/logging/templates/results.tmpl.html
  op-acceptor/nat.go
  op-acceptor/reporting/html_sink.go
  op-acceptor/reporting/html_sink_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/types/config_snapshot.go
  op-acceptor/types/tree.go
Due: none

proxyd: Add fusaka blob transaction support
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/sender_rate_limit_test.go
  proxyd/integration_tests/testdata/sender_rate_limit.toml
  proxyd/integration_tests/testdata/testdata.txt
  proxyd/server.go
  proxyd/server_test.go
  proxyd/testdata/txs.json
Due: run-build-proxyd

Update proxyd/server.go
  proxyd/server.go
Due: run-build-proxyd

increase executor size
  .circleci/continue_config.yml
Due: run-all

proxyd: Add fusaka blob transaction support (#464)
  .circleci/continue_config.yml
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/sender_rate_limit_test.go
  proxyd/integration_tests/testdata/sender_rate_limit.toml
  proxyd/integration_tests/testdata/testdata.txt
  proxyd/server.go
  proxyd/server_test.go
  proxyd/testdata/txs.json
Due: run-build-proxyd, run-all

feat(op-acceptor): surface effective config (#463)
  op-acceptor/logging/templates/results.tmpl.html
  op-acceptor/nat.go
  op-acceptor/reporting/html_sink.go
  op-acceptor/reporting/html_sink_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/types/config_snapshot.go
  op-acceptor/types/tree.go
Due: none

[Proxyd] Fix group block consensus delay & data consistency issue. (#10)
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/proxyd.go
Due: run-build-proxyd

fix: improve rpc metric from unknown to method_not_allowed
  proxyd/metrics.go
  proxyd/server.go
Due: run-build-proxyd

fix: improve rpc metric from unknown to method_not_allowed (#465)
  proxyd/metrics.go
  proxyd/server.go
Due: run-build-proxyd

WS route correction for k8s ingress path
  proxyd/server.go
Due: run-build-proxyd

fix(op-acceptor): package timeouts.
  op-acceptor/go.mod
  op-acceptor/go.sum
  op-acceptor/runner/executor.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

fix(op-acceptor): package timeouts. (#468)
  op-acceptor/go.mod
  op-acceptor/go.sum
  op-acceptor/runner/executor.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat(acceptance-tests): adds simple acceptance tests
  .circleci/continue_config.yml
  op-acceptor/Makefile
  op-acceptor/nat.go
  op-acceptor/registry/registry.go
  op-acceptor/testdata/acceptance/base/faucet_test.go
  op-acceptor/testdata/acceptance/base/init_test.go
  op-acceptor/testdata/acceptance/base/rpc_connectivity_test.go
  op-acceptor/testdata/acceptance/go.mod
  op-acceptor/testdata/acceptance/go.sum
  op-acceptor/testdata/acceptance/internal/preset/embedded_minimal.go
Due: run-all

feat(acceptance-tests): adds simple acceptance tests (#470)
  .circleci/continue_config.yml
  op-acceptor/Makefile
  op-acceptor/nat.go
  op-acceptor/registry/registry.go
  op-acceptor/testdata/acceptance/base/faucet_test.go
  op-acceptor/testdata/acceptance/base/init_test.go
  op-acceptor/testdata/acceptance/base/rpc_connectivity_test.go
  op-acceptor/testdata/acceptance/go.mod
  op-acceptor/testdata/acceptance/go.sum
  op-acceptor/testdata/acceptance/internal/preset/embedded_minimal.go
Due: run-all

op-signer: upgrade geth dependency to v1.16.2
  op-signer/Dockerfile
  op-signer/config.go
  op-signer/go.mod
  op-signer/go.sum
Due: run-build-op-signer

op-signer: upgrade geth dependency to v1.16.2 (#471)
  op-signer/Dockerfile
  op-signer/config.go
  op-signer/go.mod
  op-signer/go.sum
Due: run-build-op-signer

proxyd: fixes mutlicall test flake
  proxyd/integration_tests/multicall_test.go
Due: run-build-proxyd

proxyd: fixes mutlicall test flake (#472)
  proxyd/integration_tests/multicall_test.go
Due: run-build-proxyd

chore: Update kurtosis SDK
  op-acceptor/go.mod
  op-acceptor/go.sum
Due: none

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-build-cci-stats: any of: cci-stats/.*
  run-all: (any of: .circleci/.*) or (any of: .github/.*)
