Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

parameters:
  # 
  # 
  # These parameters are passed down to the continuation pipeline
  # Thet are defined here so that the UI form for triggering pipelines
  # is prepopulated and only allows for valid values to be set
  # 
  # 
  # An explicit boolean parameter that triggers the tag-service pipeline
  run-tag-service:
    type: boolean
    description: "Run the tag-service job. tag-service--bump and tag-service--service parameters also need to be specified"
    default: false
  # Controls the version bump for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--bump:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "major", "minor", "patch", "prerelease", "finalize-prerelease", "missing"]
    default: ""
  # Controls the affected service for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--service:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "op-signer", "op-ufm", "op-txproxy", "proxyd", "peer-mgmt-service"]
    default: ""
  # Toggle between prerelase and release for the tag-service job
  tag-service--prerelease:
    type: boolean
    description: "Toggle between prerelase and release for the tag-service job"
    default: false

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            .circleci/.* run-all true
            .github/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

chore: remove extra newline
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

Adding support for an AWS KMS provider (#122)
  op-signer/app.go
  op-signer/go.mod
  op-signer/go.sum
  op-signer/service/config.go
  op-signer/service/config_test.go
  op-signer/service/provider/aws_kms.go
  op-signer/service/provider/aws_kms_test.go
  op-signer/service/provider/cloudkms.go
  op-signer/service/provider/provider.go
  op-signer/service/provider/utils.go
  op-signer/service/provider/utils_test.go
  op-signer/service/service.go
Due: run-build-op-signer

lint
  op-signer/app.go
  op-signer/provider/config.go
  op-signer/provider/local_kms.go
  op-signer/provider/local_kms_test.go
Due: run-build-op-signer

fix tests
  op-signer/provider/config_test.go
  op-signer/provider/local_kms_test.go
  op-signer/provider/mock_kms.go
  op-signer/service/service_test.go
Due: run-build-op-signer

fix gen-local-tls
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

rename cloudkms to gcp_kms
  op-signer/README.md
  op-signer/service/config.go
  op-signer/service/provider/gcp_kms.go
  op-signer/service/provider/gcp_kms_test.go
  op-signer/service/provider/provider.go
Due: run-build-op-signer

update README
  op-signer/README.md
  op-signer/provider/config.go
Due: run-build-op-signer

add local_kms
  op-signer/service/config.go
  op-signer/service/provider/local_kms.go
  op-signer/service/provider/local_kms_test.go
  op-signer/service/provider/provider.go
Due: run-build-op-signer

load local keys into memory on local_kms init
  op-signer/service/provider/gcp_kms.go
  op-signer/service/provider/local_kms.go
  op-signer/service/provider/provider.go
  op-signer/service/service.go
Due: run-build-op-signer

pull provider package one level up, rename SignerServiceConfig to ProviderConfig
  op-signer/app.go
  op-signer/provider/aws_kms.go
  op-signer/provider/aws_kms_test.go
  op-signer/provider/config.go
  op-signer/provider/gcp_kms.go
  op-signer/provider/gcp_kms_test.go
  op-signer/provider/local_kms.go
  op-signer/provider/local_kms_test.go
  op-signer/provider/mock_kms.go
  op-signer/provider/mock_provider.go
  op-signer/provider/provider.go
  op-signer/provider/utils.go
  op-signer/provider/utils_test.go
  op-signer/service/config_test.go
  op-signer/service/service.go
  op-signer/service/service_test.go
Due: run-build-op-signer

fix OpsignerSerivce typo
  op-signer/service/service.go
Due: run-build-op-signer

simplify key parsing
  op-signer/provider/local_kms.go
Due: run-build-op-signer

add local key generation to gen script
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

use existing contstant
  op-signer/provider/local_kms_test.go
Due: run-build-op-signer

add debug logging
  op-signer/provider/local_kms.go
Due: run-build-op-signer

feat(op-signer): local KMS provider (#252)
  op-signer/README.md
  op-signer/app.go
  op-signer/gen-local-tls.sh
  op-signer/provider/aws_kms.go
  op-signer/provider/aws_kms_test.go
  op-signer/provider/config.go
  op-signer/provider/config_test.go
  op-signer/provider/gcp_kms.go
  op-signer/provider/gcp_kms_test.go
  op-signer/provider/local_kms.go
  op-signer/provider/local_kms_test.go
  op-signer/provider/mock_kms.go
  op-signer/provider/mock_provider.go
  op-signer/provider/provider.go
  op-signer/provider/utils.go
  op-signer/provider/utils_test.go
  op-signer/service/provider/mock_kms.go
  op-signer/service/service.go
  op-signer/service/service_test.go
Due: run-build-op-signer

feat: books test
  book.toml
  proxyd/book.toml
Due: run-build-proxyd

create book dir
  book/SUMMARY.md
  book/book.toml
  proxyd/book.toml
Due: run-build-proxyd

feat: move summary into src
  book/src/SUMMARY.md
Due: none

feat(op-acceptor): better error logging for failing tests. (#254)
  op-acceptor/nat.go
  op-acceptor/runner/logging_test.go
  op-acceptor/runner/runner.go
  op-acceptor/types/test.go
Due: none

fix: path to ec_private.pem in docker_openssl
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

fix: use variable for org name and host name
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

chore(op-acceptor): refactor runner test2json actions
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat(op-acceptor): calculate subtest durations
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat(op-acceptor): handle fails without an error
  op-acceptor/nat.go
Due: none

fix: error log referencing metrics for rpc errors
  op-signer/app.go
Due: run-build-op-signer

feat: add support for disabling tls
  op-signer/app.go
Due: run-build-op-signer

feat: add warning log when tls is disabled
  op-signer/app.go
Due: run-build-op-signer

fix(op-signer): fix disabling TLS (#258)
  op-signer/app.go
Due: run-build-op-signer

parameterize more vars and fix SAN error
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

feat(op-signer): generate TLS certs using Docker (#255)
  .gitignore
  op-signer/.envrc
  op-signer/.gitignore
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

feat: update root book
  book/book.toml
Due: none

feat: remove comments
  book/book.toml
Due: none
