Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

Add all potential RPC method mappings
  proxyd/example.config.toml
Due: run-build-proxyd

Added new retry error
  proxyd/backend.go
Due: run-build-proxyd

feat(op-acceptor): add zstd
  op-acceptor/Dockerfile
Due: none

feat(op-acceptor): add zstd (#505)
  op-acceptor/Dockerfile
Due: none

debug(mise): install in verbose mode
  .circleci/continue_config.yml
Due: run-all

debug(mise): install in verbose mode (#506)
  .circleci/continue_config.yml
Due: run-all

fix(mise): fix mise install error
  mise.toml
Due: none

fix(mise): fix mise install error (#507)
  mise.toml
Due: none

proxyd: security oriented fixes (#493)
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

fix(mise): fix mise install error (#508)
  mise.toml
Due: none

chore(op-acceptor): v3.6.6
  op-acceptor/README.md
  op-acceptor/cmd/main.go
Due: none

chore(op-acceptor): v3.6.6 (#509)
  op-acceptor/README.md
  op-acceptor/cmd/main.go
Due: none

ci: add GitHub Actions workflows to build and attest infra Docker images
  .github/workflows/cci-stats.yml
  .github/workflows/op-acceptor.yml
  .github/workflows/op-conductor-mon.yml
  .github/workflows/op-conductor-ops.yml
  .github/workflows/op-signer.yml
  .github/workflows/op-txproxy.yml
  .github/workflows/op-ufm.yml
  .github/workflows/peer-mgmt-service.yml
  .github/workflows/proxyd.yml
  .github/workflows/replica-healthcheck.yml
Due: run-all

fix: remove latest tag to match CircleCI behavior
  .github/workflows/cci-stats.yml
  .github/workflows/op-acceptor.yml
  .github/workflows/op-conductor-mon.yml
  .github/workflows/op-conductor-ops.yml
  .github/workflows/op-signer.yml
  .github/workflows/op-txproxy.yml
  .github/workflows/op-ufm.yml
  .github/workflows/peer-mgmt-service.yml
  .github/workflows/proxyd.yml
  .github/workflows/replica-healthcheck.yml
Due: run-all

fix: add path filtering and run on all branches to match CircleCI
  .github/workflows/cci-stats.yml
  .github/workflows/op-acceptor.yml
  .github/workflows/op-conductor-mon.yml
  .github/workflows/op-conductor-ops.yml
  .github/workflows/op-signer.yml
  .github/workflows/op-txproxy.yml
  .github/workflows/op-ufm.yml
  .github/workflows/peer-mgmt-service.yml
  .github/workflows/proxyd.yml
  .github/workflows/replica-healthcheck.yml
Due: run-all

fix: use component-specific path filtering for each workflow
  .github/workflows/cci-stats.yml
  .github/workflows/op-acceptor.yml
  .github/workflows/op-conductor-mon.yml
  .github/workflows/op-conductor-ops.yml
  .github/workflows/op-signer.yml
  .github/workflows/op-txproxy.yml
  .github/workflows/op-ufm.yml
  .github/workflows/peer-mgmt-service.yml
  .github/workflows/proxyd.yml
  .github/workflows/replica-healthcheck.yml
Due: run-all

fix: remove pull_request condition, keep only push
  .github/workflows/cci-stats.yml
  .github/workflows/op-acceptor.yml
  .github/workflows/op-conductor-mon.yml
  .github/workflows/op-conductor-ops.yml
  .github/workflows/op-signer.yml
  .github/workflows/op-txproxy.yml
  .github/workflows/op-ufm.yml
  .github/workflows/peer-mgmt-service.yml
  .github/workflows/proxyd.yml
  .github/workflows/replica-healthcheck.yml
Due: run-all

chore: add CODEOWNERS for workflow files
  .github/CODEOWNERS
Due: run-all

fix: correct dockerfile path for replica-healthcheck
  .github/workflows/replica-healthcheck.yml
Due: run-all

fix: remove extra trailing empty lines from workflow files
  .github/workflows/cci-stats.yml
  .github/workflows/op-acceptor.yml
  .github/workflows/op-conductor-mon.yml
  .github/workflows/op-conductor-ops.yml
  .github/workflows/op-signer.yml
  .github/workflows/op-txproxy.yml
  .github/workflows/op-ufm.yml
  .github/workflows/peer-mgmt-service.yml
  .github/workflows/proxyd.yml
  .github/workflows/replica-healthcheck.yml
Due: run-all

feat: add linux/arm64 platform support to all workflows
  .github/workflows/cci-stats.yml
  .github/workflows/op-acceptor.yml
  .github/workflows/op-conductor-mon.yml
  .github/workflows/op-conductor-ops.yml
  .github/workflows/op-signer.yml
  .github/workflows/op-txproxy.yml
  .github/workflows/op-ufm.yml
  .github/workflows/peer-mgmt-service.yml
  .github/workflows/proxyd.yml
  .github/workflows/replica-healthcheck.yml
Due: run-all

ci: add GitHub Actions workflows to build and attest infra Docker images (#510)
  .github/CODEOWNERS
  .github/workflows/cci-stats.yml
  .github/workflows/op-acceptor.yml
  .github/workflows/op-conductor-mon.yml
  .github/workflows/op-conductor-ops.yml
  .github/workflows/op-signer.yml
  .github/workflows/op-txproxy.yml
  .github/workflows/op-ufm.yml
  .github/workflows/peer-mgmt-service.yml
  .github/workflows/proxyd.yml
  .github/workflows/replica-healthcheck.yml
Due: run-all

refactor: omit unnecessary reassignment
  op-acceptor/flags/flags_test.go
Due: none

feat(op-acceptor): add multigate and dry-run
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_output_test.go
  op-acceptor/logging/filelogger_test.go
  op-acceptor/logging/integration_test.go
  op-acceptor/logging/raw_json_sink_test.go
  op-acceptor/logging/templates/results.tmpl.html
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/registry/registry.go
  op-acceptor/reporting/html_sink_test.go
  op-acceptor/reporting/text_sink.go
  op-acceptor/runner/parallel.go
  op-acceptor/runner/progress.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/templates/functions.go
  op-acceptor/types/config_snapshot.go
  op-acceptor/types/gate.go
Due: none

feat(op-acceptor): add multigate and dry-run (#520)
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_output_test.go
  op-acceptor/logging/filelogger_test.go
  op-acceptor/logging/integration_test.go
  op-acceptor/logging/raw_json_sink_test.go
  op-acceptor/logging/templates/results.tmpl.html
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/registry/registry.go
  op-acceptor/reporting/html_sink_test.go
  op-acceptor/reporting/text_sink.go
  op-acceptor/runner/parallel.go
  op-acceptor/runner/progress.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/templates/functions.go
  op-acceptor/types/config_snapshot.go
  op-acceptor/types/gate.go
Due: none

fix(replica-healthcheck): use repo root as docker build context
  .circleci/continue_config.yml
  .github/workflows/replica-healthcheck.yml
  replica-healthcheck/Dockerfile
Due: run-all

fix(replica-healthcheck): use repo root as docker build context (#521)
  .circleci/continue_config.yml
  .github/workflows/replica-healthcheck.yml
  replica-healthcheck/Dockerfile
Due: run-all

ci: fix how we handle component tags, use a matrix & least privilege fork PRs
  .github/workflows/branches.yaml
  .github/workflows/cci-stats.yml
  .github/workflows/op-acceptor.yml
  .github/workflows/op-conductor-mon.yml
  .github/workflows/op-conductor-ops.yml
  .github/workflows/op-signer.yml
  .github/workflows/op-txproxy.yml
  .github/workflows/op-ufm.yml
  .github/workflows/peer-mgmt-service.yml
  .github/workflows/proxyd.yml
  .github/workflows/replica-healthcheck.yml
  .github/workflows/tags.yaml
Due: run-all

ci: fix how we handle component tags, use a matrix & least privilege fork PRs (#519)
  .github/workflows/branches.yaml
  .github/workflows/cci-stats.yml
  .github/workflows/op-acceptor.yml
  .github/workflows/op-conductor-mon.yml
  .github/workflows/op-conductor-ops.yml
  .github/workflows/op-signer.yml
  .github/workflows/op-txproxy.yml
  .github/workflows/op-ufm.yml
  .github/workflows/peer-mgmt-service.yml
  .github/workflows/proxyd.yml
  .github/workflows/replica-healthcheck.yml
  .github/workflows/tags.yaml
Due: run-all

fix(ci): use repo root context in tags workflow
  .github/workflows/tags.yaml
Due: run-all

fix(ci): use repo root context in tags workflow (#522)
  .github/workflows/tags.yaml
Due: run-all

test: verify fork PR workflow
  .github/workflows/branches.yaml
Due: run-all

Implement archive requirement for debug methods in RPC request handling
  proxyd/backend.go
Due: run-build-proxyd

fix(op-acceptor): Stream stdout to disk and refactor raw JSON logging
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/raw_json_sink.go
  op-acceptor/logging/raw_json_sink_test.go
  op-acceptor/runner/executor.go
  op-acceptor/runner/executor_test.go
  op-acceptor/runner/jsonstore.go
  op-acceptor/runner/parser.go
  op-acceptor/runner/parser_subtest_output_test.go
  op-acceptor/runner/parser_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/runner/stdout_buffer.go
Due: none

feat(op-acceptor): graceful shutdown
  op-acceptor/cmd/main.go
  op-acceptor/logging/raw_json_sink.go
  op-acceptor/nat.go
  op-acceptor/runner/executor.go
  op-acceptor/runner/runner.go
Due: none

fix(op-acceptor): Stream stdout to disk and refactor raw JSON logging (#525)
  op-acceptor/cmd/main.go
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/raw_json_sink.go
  op-acceptor/logging/raw_json_sink_test.go
  op-acceptor/nat.go
  op-acceptor/runner/executor.go
  op-acceptor/runner/executor_test.go
  op-acceptor/runner/jsonstore.go
  op-acceptor/runner/parser.go
  op-acceptor/runner/parser_subtest_output_test.go
  op-acceptor/runner/parser_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/runner/stdout_buffer.go
Due: none

fix(op-acceptor): subtest logging memory leak
  op-acceptor/runner/parser.go
  op-acceptor/runner/parser_subtest_output_test.go
Due: none

fix(op-acceptor): subtest logging memory leak (#526)
  op-acceptor/runner/parser.go
  op-acceptor/runner/parser_subtest_output_test.go
Due: none

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-build-cci-stats: any of: cci-stats/.*
  run-all: (any of: .circleci/.*) or (any of: .github/.*)
