Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

parameters:
  # 
  # 
  # These parameters are passed down to the continuation pipeline
  # Thet are defined here so that the UI form for triggering pipelines
  # is prepopulated and only allows for valid values to be set
  # 
  # 
  # An explicit boolean parameter that triggers the tag-service pipeline
  run-tag-service:
    type: boolean
    description: "Run the tag-service job. tag-service--bump and tag-service--service parameters also need to be specified"
    default: false
  # Controls the version bump for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--bump:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "major", "minor", "patch", "prerelease", "finalize-prerelease", "missing"]
    default: ""
  # Controls the affected service for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--service:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "op-signer", "op-ufm", "op-txproxy", "proxyd", "peer-mgmt-service"]
    default: ""
  # Toggle between prerelase and release for the tag-service job
  tag-service--prerelease:
    type: boolean
    description: "Toggle between prerelase and release for the tag-service job"
    default: false

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            .circleci/.* run-all true
            .github/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

auto stop backoff
  proxyd/backoff.go
  proxyd/interop.go
  proxyd/server.go
Due: run-build-proxyd

remove not found transaction as an ignorable error
  op-ufm/pkg/metrics/clients/eth.go
Due: run-build-op-ufm

record the logs of transaction not found error
  op-ufm/pkg/provider/heartbeat.go
  op-ufm/pkg/provider/roundtrip.go
Due: run-build-op-ufm

record the logs of transaction not found error (#433)
  op-ufm/pkg/provider/heartbeat.go
  op-ufm/pkg/provider/roundtrip.go
Due: run-build-op-ufm

feat(op-acceptor): ability to allow skips.
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

allow timeouts in ms
  proxyd/config.go
  proxyd/proxyd.go
Due: run-build-proxyd

allow overriding maxRetries and timeout on a per-backend basis
  proxyd/config.go
Due: run-build-proxyd

another file
  proxyd/proxyd.go
Due: run-build-proxyd

fix backend_group name not showing in error log
  proxyd/server.go
Due: run-build-proxyd

functionally ignore not found transaction
  op-ufm/pkg/provider/heartbeat.go
  op-ufm/pkg/provider/roundtrip.go
Due: run-build-op-ufm

functionally ignore not found transaction (#437)
  op-ufm/pkg/provider/heartbeat.go
  op-ufm/pkg/provider/roundtrip.go
Due: run-build-op-ufm

feat(op-acceptor): ability to allow skips. (#435)
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat(op-acceptor): parallel testing.
  op-acceptor/cmd/cli_integration_test.go
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_test.go
  op-acceptor/nat.go
  op-acceptor/reporting/html_sink.go
  op-acceptor/reporting/text_sink.go
  op-acceptor/reporting/tree_formatters.go
  op-acceptor/runner/concurrency_test.go
  op-acceptor/runner/logging_test.go
  op-acceptor/runner/parallel.go
  op-acceptor/runner/parallel_comprehensive_test.go
  op-acceptor/runner/parallel_executor_validation_test.go
  op-acceptor/runner/parallel_test.go
  op-acceptor/runner/result_manager.go
  op-acceptor/runner/result_manager_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat(op-acceptor): parallel testing. (#438)
  op-acceptor/cmd/cli_integration_test.go
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_test.go
  op-acceptor/nat.go
  op-acceptor/reporting/html_sink.go
  op-acceptor/reporting/text_sink.go
  op-acceptor/reporting/tree_formatters.go
  op-acceptor/runner/concurrency_test.go
  op-acceptor/runner/logging_test.go
  op-acceptor/runner/parallel.go
  op-acceptor/runner/parallel_comprehensive_test.go
  op-acceptor/runner/parallel_executor_validation_test.go
  op-acceptor/runner/parallel_test.go
  op-acceptor/runner/result_manager.go
  op-acceptor/runner/result_manager_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

Add integration tests
  proxyd/integration_tests/backend_timeout_test.go
  proxyd/integration_tests/testdata/backend_timeout.toml
Due: run-build-proxyd

add time conversation unit tests
  proxyd/proxyd_test.go
Due: run-build-proxyd

linting
  proxyd/config.go
  proxyd/integration_tests/backend_timeout_test.go
Due: run-build-proxyd

conditional backoff
  proxyd/backend.go
Due: run-build-proxyd

improve tests
  proxyd/integration_tests/backend_timeout_test.go
  proxyd/integration_tests/testdata/backend_timeout.toml
Due: run-build-proxyd

lint
  proxyd/backend.go
Due: run-build-proxyd

Proxyd: Allow backend ResponseTimeout to be set in ms + to be configurable per backend (#436)
  proxyd/backend.go
  proxyd/config.go
  proxyd/integration_tests/backend_timeout_test.go
  proxyd/integration_tests/testdata/backend_timeout.toml
  proxyd/proxyd.go
  proxyd/proxyd_test.go
  proxyd/server.go
Due: run-build-proxyd

fix(op-acceptor): tests; fix flaky test
  op-acceptor/runner/logging_test.go
Due: none

fix(op-acceptor): tests; fix flaky test (#439)
  op-acceptor/runner/logging_test.go
Due: none

final
  .circleci/continue_config.yml
  github-event-manager/Dockerfile
  github-event-manager/README.md
  github-event-manager/src/.gitignore
  github-event-manager/src/Makefile
  github-event-manager/src/Pipfile
  github-event-manager/src/Pipfile.lock
  github-event-manager/src/lib/__init__.py
  github-event-manager/src/lib/circleci_proxy.py
  github-event-manager/src/lib/common.py
  github-event-manager/src/lib/config_manager.py
  github-event-manager/src/lib/event_manager.py
  github-event-manager/src/lib/repo_config.py
  github-event-manager/src/lib/tests/test_config_manager.py
  github-event-manager/src/lib/tests/test_event_manager.py
  github-event-manager/src/lib/tests/test_repo_config.py
  github-event-manager/src/main.py
Due: run-all

fix(op-acceptor): fix allow-skips flag
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

fix(op-acceptor): fix allow-skips flag (#445)
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

chore(op-acceptor): clean; remove unused code identified by static analysis tools
  op-acceptor/cmd/main_test.go
  op-acceptor/flags/flags_test.go
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_test.go
  op-acceptor/logging/json_parser_test.go
  op-acceptor/logging/raw_json_sink_test.go
  op-acceptor/logging/templates.go
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/reporting/text_sink.go
  op-acceptor/reporting/text_sink_test.go
  op-acceptor/reporting/tree_formatters.go
  op-acceptor/reporting/tree_formatters_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/types/test.go
  op-acceptor/types/test_test.go
  op-acceptor/types/tree.go
  op-acceptor/types/tree_test.go
Due: none

refactor(templates): centralize template functions and resolve circular dependencies
  op-acceptor/cmd/cli_integration_test.go
  op-acceptor/cmd/main.go
  op-acceptor/cmd/main_test.go
  op-acceptor/justfile
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/templates.go
  op-acceptor/nat.go
  op-acceptor/reporting/tree_formatters.go
  op-acceptor/templates/functions.go
Due: none

chore(op-acceptor): clean; remove unused code identified by static analysis tools (#447)
  op-acceptor/cmd/cli_integration_test.go
  op-acceptor/cmd/main.go
  op-acceptor/cmd/main_test.go
  op-acceptor/flags/flags_test.go
  op-acceptor/justfile
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_test.go
  op-acceptor/logging/json_parser_test.go
  op-acceptor/logging/raw_json_sink_test.go
  op-acceptor/logging/templates.go
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/reporting/text_sink.go
  op-acceptor/reporting/text_sink_test.go
  op-acceptor/reporting/tree_formatters.go
  op-acceptor/reporting/tree_formatters_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/templates/functions.go
  op-acceptor/types/test.go
  op-acceptor/types/test_test.go
  op-acceptor/types/tree.go
  op-acceptor/types/tree_test.go
Due: none

refactor(op-acceptor): split monolithic runner into focused components
  op-acceptor/runner/adapters.go
  op-acceptor/runner/collector.go
  op-acceptor/runner/collector_test.go
  op-acceptor/runner/constants.go
  op-acceptor/runner/coordinator.go
  op-acceptor/runner/doc.go
  op-acceptor/runner/executor.go
  op-acceptor/runner/jsonstore.go
  op-acceptor/runner/parser.go
  op-acceptor/runner/parser_test.go
  op-acceptor/runner/runner.go
  op-acceptor/types/tree.go
Due: none

feat: wip consensus_aware_consensus_layer proxyd poller, todo: clean up consensus poller code and look at overwritting responses for optimisim_syncStatus
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/proxyd.go
Due: run-build-proxyd

feat: nit comments
  proxyd/consensus_poller.go
Due: run-build-proxyd

feat(op-acceptor): just lint
  op-acceptor/justfile
Due: none

feat: introduce mise for tool version management
  .circleci/continue_config.yml
  README.md
  mise.toml
  op-acceptor/Dockerfile
  op-acceptor/Makefile
  op-acceptor/README.md
  op-acceptor/justfile
  op-acceptor/mise.toml
  op-conductor-mon/Dockerfile
  op-conductor-mon/Makefile
  op-conductor-mon/go.mod
  op-conductor-ops/Dockerfile
Due: run-build-op-conductor-mon, run-all
