Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

parameters:
  # 
  # 
  # These parameters are passed down to the continuation pipeline
  # Thet are defined here so that the UI form for triggering pipelines
  # is prepopulated and only allows for valid values to be set
  # 
  # 
  # An explicit boolean parameter that triggers the tag-service pipeline
  run-tag-service:
    type: boolean
    description: "Run the tag-service job. tag-service--bump and tag-service--service parameters also need to be specified"
    default: false
  # Controls the version bump for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--bump:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "major", "minor", "patch", "prerelease", "finalize-prerelease", "missing"]
    default: ""
  # Controls the affected service for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--service:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "op-signer", "op-ufm", "op-txproxy", "proxyd", "peer-mgmt-service"]
    default: ""
  # Toggle between prerelase and release for the tag-service job
  tag-service--prerelease:
    type: boolean
    description: "Toggle between prerelase and release for the tag-service job"
    default: false

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            .circleci/.* run-all true
            .github/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

chore: support address rate limiting for send raw transaction sync
  proxyd/server.go
Due: run-build-proxyd

feat(op-acceptor): logs; tidied log levels.
  op-acceptor/nat.go
  op-acceptor/registry/registry.go
  op-acceptor/runner/progress.go
  op-acceptor/runner/progress_test.go
  op-acceptor/runner/runner.go
Due: none

clean(op-acceptance-tests): flake-shake; increased max concurrency level.
  op-acceptor/runner/concurrency_test.go
  op-acceptor/runner/constants.go
  op-acceptor/runner/runner.go
Due: none

feat(op-acceptor): max concurrency & log tweaks (#489)
  op-acceptor/nat.go
  op-acceptor/registry/registry.go
  op-acceptor/runner/concurrency_test.go
  op-acceptor/runner/constants.go
  op-acceptor/runner/progress.go
  op-acceptor/runner/progress_test.go
  op-acceptor/runner/runner.go
Due: none

feat(op-acceptor): stricter exclude-gates.
  op-acceptor/README.md
  op-acceptor/cmd/main_test.go
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/registry/registry.go
  op-acceptor/registry/registry_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat(op-acceptor): stricter exclude-gates. (#490)
  op-acceptor/README.md
  op-acceptor/cmd/main_test.go
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/registry/registry.go
  op-acceptor/registry/registry_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat: fix conductor-ops typo, when adding a new member its not always a voter
  op-conductor-ops/op-conductor-ops.py
Due: none

feat: fix conductor-ops typo, when adding a new member its not always a voter (#492)
  op-conductor-ops/op-conductor-ops.py
Due: none

proxyd: security oriented fixes
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

fix: http req body leak
  proxyd/backend.go
Due: run-build-proxyd

feat(proxyd): max block range config
  .gitignore
  proxyd/backend.go
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/integration_tests/block_range_limit_test.go
  proxyd/integration_tests/testdata/eth_getlogs_limit.toml
  proxyd/proxyd.go
Due: run-build-proxyd

Improvements
  proxyd/backend.go
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/integration_tests/block_range_limit_test.go
  proxyd/proxyd.go
Due: run-build-proxyd

fix example config
  proxyd/example.config.toml
Due: run-build-proxyd

feat(proxyd): verify xff IP matches client IP
  proxyd/backend.go
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd

improve comments
  proxyd/backend.go
  proxyd/config.go
Due: run-build-proxyd

Only enable if rate limit header is xff
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd

add tests for allowed status codes
  proxyd/backend_test.go
Due: run-build-proxyd

chore(op-acceptor): readme; path semantics
  op-acceptor/README.md
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

chore: Switch to blobless checkout
  .circleci/continue_config.yml
Due: run-all

feat(proxyd): max block range config
  proxyd/backend.go
  proxyd/config.go
  proxyd/integration_tests/max_block_range_test.go
  proxyd/integration_tests/testdata/max_block_range.toml
  proxyd/proxyd.go
  proxyd/rewriter.go
Due: run-build-proxyd

chore: Switch to blobless checkout (#497)
  .circleci/continue_config.yml
Due: run-all

chore(op-acceptor): readme; path semantics (#496)
  op-acceptor/README.md
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

chore: fix some wrong comments
  proxyd/consensus_poller.go
Due: run-build-proxyd

Explicit consensus mode in rewrite context
  proxyd/backend.go
  proxyd/rewriter.go
  proxyd/rewriter_test.go
Due: run-build-proxyd

Comments to clarify max block range override behavior
  proxyd/config.go
  proxyd/proxyd.go
Due: run-build-proxyd

feat(proxyd): max block range config (#494)
  proxyd/backend.go
  proxyd/config.go
  proxyd/integration_tests/max_block_range_test.go
  proxyd/integration_tests/testdata/max_block_range.toml
  proxyd/proxyd.go
  proxyd/rewriter.go
  proxyd/rewriter_test.go
Due: run-build-proxyd

feat: test log string colors and escape chars, add more metrics
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/metrics/metrics.go
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
Due: none

feat: linting
  op-acceptor/config.go
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
Due: none

clean(op-acceptor): subtest timeouts refactor
  op-acceptor/runner/parser.go
  op-acceptor/runner/parser_test.go
  op-acceptor/runner/runner.go
  op-acceptor/types/test.go
Due: none

clean(op-acceptor): subtest timeouts refactor (#500)
  op-acceptor/runner/parser.go
  op-acceptor/runner/parser_test.go
  op-acceptor/runner/runner.go
  op-acceptor/types/test.go
Due: none

feat: add tests and stip-line-log-prefixes flag
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/logging/clean_log_output_test.go
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_output_test.go
  op-acceptor/logging/filelogger_test.go
  op-acceptor/logging/integration_test.go
  op-acceptor/logging/raw_json_sink_test.go
  op-acceptor/metrics/metrics.go
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/runner/runner.go
Due: none

feat: enable whitespace trimming
  op-acceptor/logging/filelogger.go
  op-acceptor/runner/runner.go
Due: none

feat: tests updated for whitespace trimming
  op-acceptor/logging/filelogger_output_test.go
  op-acceptor/logging/filelogger_test.go
Due: none

clean(op-acceptor): subtest timeouts refactor (#500)
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/logging/clean_log_output_test.go
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_output_test.go
  op-acceptor/logging/filelogger_test.go
  op-acceptor/logging/integration_test.go
  op-acceptor/logging/raw_json_sink_test.go
  op-acceptor/metrics/metrics.go
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/runner/runner.go
Due: none

feat: metrics improvements to op-acceptor
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/logging/clean_log_output_test.go
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_output_test.go
  op-acceptor/logging/filelogger_test.go
  op-acceptor/logging/integration_test.go
  op-acceptor/logging/raw_json_sink_test.go
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/runner/runner.go
Due: none

feat: metrics improvements to op-acceptor
  op-acceptor/metrics/metrics.go
  op-acceptor/nat.go
Due: none

feat: metrics improvements to op-acceptor (#503)
  op-acceptor/metrics/metrics.go
  op-acceptor/nat.go
Due: none

re-use backend's maxResponseBytes if provided over the server's read limit for proxying ws connection
  proxyd/backend.go
Due: run-build-proxyd
