Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

explicitly handle some backend responses so we don't mark as unservic… (#279)
  proxyd/backend.go
Due: run-build-proxyd

feat: try black formatting
  op-conductor-ops/op-conductor-ops.py
Due: none

feat: black linter for op-conductor-ops
  .circleci/continue_config.yml
  op-conductor-ops/config.py
  op-conductor-ops/network.py
  op-conductor-ops/op-conductor-ops.py
  op-conductor-ops/poetry.lock
  op-conductor-ops/pyproject.toml
  op-conductor-ops/sequencer.py
Due: run-all

feat: fix odd formatting
  .circleci/continue_config.yml
Due: run-all

feat: gitignore for pycache and justfile for lint command
  op-conductor-ops/.gitignore
  op-conductor-ops/justfile
Due: none

feat: minor circleci formatting
  .circleci/continue_config.yml
Due: run-all

feat: black linter for op-conductor-ops (#290)
  .circleci/continue_config.yml
  op-conductor-ops/.gitignore
  op-conductor-ops/config.py
  op-conductor-ops/justfile
  op-conductor-ops/network.py
  op-conductor-ops/op-conductor-ops.py
  op-conductor-ops/poetry.lock
  op-conductor-ops/pyproject.toml
  op-conductor-ops/sequencer.py
Due: run-all

feat: allow for builder urls to be set conditionally
  op-conductor-ops/config.py
  op-conductor-ops/op-conductor-ops.py
  op-conductor-ops/sequencer.py
Due: none

feat: print check for if builder is in sync instead of number
  op-conductor-ops/op-conductor-ops.py
Due: none

feat: linting
  op-conductor-ops/config.py
  op-conductor-ops/op-conductor-ops.py
Due: none

feat(op-acceptor): add network name to metrics
  op-acceptor/devnets/simple-devnet.json
  op-acceptor/go.mod
  op-acceptor/go.sum
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat: adjusted debug logs
  op-conductor-ops/op-conductor-ops.py
  op-conductor-ops/sequencer.py
Due: none

feat: wip conductor ops for builders
  op-conductor-ops/config.py
  op-conductor-ops/op-conductor-ops.py
  op-conductor-ops/sequencer.py
Due: none

feat: able to get execution mode from rollup-boost
  op-conductor-ops/op-conductor-ops.py
  op-conductor-ops/sequencer.py
Due: none

feat: able to set rollup-boost mode from conductor-ops
  op-conductor-ops/op-conductor-ops.py
  op-conductor-ops/sequencer.py
Due: none

feat(op-acceptor): add network name to metrics (#295)
  op-acceptor/devnets/simple-devnet.json
  op-acceptor/go.mod
  op-acceptor/go.sum
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

fix(ci): path-filtering version.
  .circleci/config.yml
Due: run-all

fix(ci): path-filtering version. (#301)
  .circleci/config.yml
Due: run-all

feat(op-acceptor): improved metrics.
  op-acceptor/docker-compose.yml
  op-acceptor/metrics/metrics.go
  op-acceptor/metrics/metrics_test.go
  op-acceptor/nat.go
Due: none

feat(op-acceptor): improved metrics. (#302)
  op-acceptor/docker-compose.yml
  op-acceptor/metrics/metrics.go
  op-acceptor/metrics/metrics_test.go
  op-acceptor/nat.go
Due: none

feat: interop message validation
  proxyd/config.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/interop_validation_test.go
  proxyd/integration_tests/testdata/interop_validation.toml
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

address comments
  proxyd/config.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/interop_validation_test.go
  proxyd/metrics.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

address more comments
  proxyd/metrics.go
  proxyd/server.go
Due: run-build-proxyd

feat: add support for op-conductor-ops to get builder sync status and rollup-boost execution-mode if enabled in the conductor ops config
  op-conductor-ops/config.py
  op-conductor-ops/op-conductor-ops.py
  op-conductor-ops/sequencer.py
Due: none

chore: minor nits
  proxyd/config.go
  proxyd/integration_tests/interop_validation_test.go
  proxyd/integration_tests/testdata/interop_validation.toml
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

lint
  proxyd/proxyd.go
Due: run-build-proxyd

whoops
  proxyd/server.go
Due: run-build-proxyd

feat: interop message validation (#300)
  proxyd/config.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/interop_validation_test.go
  proxyd/integration_tests/testdata/interop_validation.toml
  proxyd/metrics.go
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

proxyd: test regexp based UA/Origin exemptions
  proxyd/integration_tests/rate_limit_test.go
  proxyd/integration_tests/testdata/frontend_rate_limit.toml
Due: run-build-proxyd

chore: more granular and accurate handling of interop errors
  proxyd/backend.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/interop_validation_test.go
  proxyd/server.go
Due: run-build-proxyd

chore: enhance rpc_supervisor_checks_total metric to be rpc error code aware
  proxyd/metrics.go
  proxyd/server.go
Due: run-build-proxyd

tests for correct mapping of interop errors
  proxyd/integration_tests/interop_validation_test.go
Due: run-build-proxyd

small fixes
  proxyd/backend.go
Due: run-build-proxyd

chore(nit): helping comments
  proxyd/backend.go
Due: run-build-proxyd

chore: more realistic fake interop req params
  proxyd/integration_tests/interop_validation_test.go
Due: run-build-proxyd

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-build-cci-stats: any of: cci-stats/.*
  run-all: (any of: .circleci/.*) or (any of: .github/.*)
