Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

parameters:
  # 
  # 
  # These parameters are passed down to the continuation pipeline
  # Thet are defined here so that the UI form for triggering pipelines
  # is prepopulated and only allows for valid values to be set
  # 
  # 
  # An explicit boolean parameter that triggers the tag-service pipeline
  run-tag-service:
    type: boolean
    description: "Run the tag-service job. tag-service--bump and tag-service--service parameters also need to be specified"
    default: false
  # Controls the version bump for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--bump:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "major", "minor", "patch", "prerelease", "finalize-prerelease", "missing"]
    default: ""
  # Controls the affected service for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--service:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "op-signer", "op-ufm", "op-txproxy", "proxyd", "peer-mgmt-service"]
    default: ""
  # Toggle between prerelase and release for the tag-service job
  tag-service--prerelease:
    type: boolean
    description: "Toggle between prerelase and release for the tag-service job"
    default: false

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            .circleci/.* run-all true
            .github/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

added TestSystemWrapETH test to example validator config
  op-nat/example-validators.yaml
Due: none

changed totals metrics back to Counters
  op-nat/metrics/metrics.go
Due: none

chore(pectra): Update proxyd to go-ethereum 1.15.0 for Pectra. (#170)
  proxyd/Dockerfile
  proxyd/go.mod
  proxyd/go.sum
  proxyd/proxyd.go
Due: run-build-proxyd

moved runID to runner. added temporary validation metric
  op-nat/nat.go
  op-nat/runner/runner.go
Due: none

better types
  op-nat/metrics/metrics.go
  op-nat/nat.go
  op-nat/runner/runner.go
  op-nat/runner/runner_test.go
  op-nat/types/gate.go
  op-nat/types/gate_test.go
  op-nat/types/metadata.go
  op-nat/types/suite.go
  op-nat/types/test.go
  op-nat/types/types.go
  op-nat/types/validator.go
Due: none

improved runner.runSingleTest
  op-nat/runner/runner.go
  op-nat/runner/runner_test.go
Due: none

improved testresult error type
  op-nat/runner/runner.go
  op-nat/runner/runner_test.go
  op-nat/types/test.go
  op-nat/types/types.go
Due: none

added gandalf easter egg
  op-nat/gandalf.go
  op-nat/nat.go
Due: none

go mod tidy
  op-nat/go.mod
Due: none

feat: unmarshall error data as byte
  proxyd/rpc.go
  proxyd/rpc_test.go
Due: run-build-proxyd

op-signer: opsigner_signBlockPayloadV2, fixes, cleanup
  op-signer/app.go
  op-signer/client/client.go
  op-signer/cmd/main.go
  op-signer/config.go
  op-signer/go.mod
  op-signer/go.sum
  op-signer/service/service.go
  op-signer/service/service_test.go
Due: run-build-op-signer

made path to go binary configurable
  op-nat/config.go
  op-nat/flags/flags.go
  op-nat/nat.go
  op-nat/runner/runner.go
Due: none

op-signer: go.mod update to canonical monorepo commit
  op-signer/go.mod
  op-signer/go.sum
Due: run-build-op-signer

op-signer: fix client test command
  op-signer/app.go
Due: run-build-op-signer

feat: unmarshall error data as byte (#202)
  proxyd/rpc.go
  proxyd/rpc_test.go
Due: run-build-proxyd

op-signer: opsigner_signBlockPayloadV2, fixes, cleanup (#203)
  op-signer/app.go
  op-signer/client/client.go
  op-signer/cmd/main.go
  op-signer/config.go
  op-signer/go.mod
  op-signer/go.sum
  op-signer/service/service.go
  op-signer/service/service_test.go
Due: run-build-op-signer

fix: config
  op-conductor-ops/example.config.toml
Due: none

op-signer: bump optimism dep to latest
  op-signer/app.go
  op-signer/go.mod
  op-signer/go.sum
  op-signer/service/service.go
Due: run-build-op-signer

op-signer: bump optimism dep to latest (#208)
  op-signer/app.go
  op-signer/go.mod
  op-signer/go.sum
  op-signer/service/service.go
Due: run-build-op-signer

Use signBlockPayload metric properly
  op-signer/app.go
  op-signer/service/metrics.go
  op-signer/service/service.go
Due: run-build-op-signer

wip: dynamic test discovery
  op-nat/cmd/main.go
  op-nat/config.go
  op-nat/discovery/debug.go
  op-nat/discovery/debug_test.go
  op-nat/discovery/discovery.go
  op-nat/discovery/discovery_test.go
  op-nat/discovery/testdata/validators/validators_test.go
  op-nat/flags/flags.go
  op-nat/go.mod
  op-nat/go.sum
  op-nat/nat.go
  op-nat/runner/runner.go
  op-nat/runner/runner_test.go
  op-nat/types/metadata.go
  op-nat/validators/gates/alphanet.go
  op-nat/validators/suites/deposit.go
  op-nat/validators/suites/load-test.go
  op-nat/validators/suites/network.go
  op-nat/validators/suites/simple-transfer.go
  op-nat/validators/tests/network-get-blocknumber.go
  op-nat/validators/tests/network-get-chainid.go
  op-nat/validators/tests/simple-deposit.go
  op-nat/validators/tests/simple-transfer.go
  op-nat/validators/tests/tx-fuzz.go
Due: none

wip: dynamic test discovery, via packages
  op-nat/cmd/main.go
  op-nat/config.go
  op-nat/discovery/config.go
  op-nat/discovery/debug.go
  op-nat/discovery/debug_test.go
  op-nat/discovery/discovery.go
  op-nat/discovery/discovery_test.go
  op-nat/flags/flags.go
  op-nat/nat.go
  op-nat/nat_test.go
  op-nat/registry/registry.go
  op-nat/registry/registry_test.go
  op-nat/runner/runner.go
  op-nat/types/metadata.go
  op-nat/types/types.go
  op-nat/validators.yaml
Due: none

run only specified gate
  op-nat/cmd/main.go
  op-nat/config.go
  op-nat/flags/flags.go
  op-nat/justfile
  op-nat/nat.go
  op-nat/registry/registry.go
  op-nat/runner/runner.go
  op-nat/runner/runner_test.go
  op-nat/validators.yaml
Due: none

validators.yaml
  op-nat/validators.yaml
Due: none

allow packages to be specified which runs all tests within them
  op-nat/discovery/discovery.go
  op-nat/runner/runner.go
  op-nat/types/types.go
  op-nat/validators.yaml
Due: none

removed old validator code
  op-nat/gate.go
  op-nat/gate_test.go
  op-nat/suite.go
  op-nat/suite_test.go
  op-nat/test.go
  op-nat/test_test.go
  op-nat/validator.go
  op-nat/wallet/wallet.go
Due: none

registry tests working
  op-nat/config.go
  op-nat/registry/registry.go
  op-nat/registry/registry_test.go
  op-nat/runner/runner.go
  op-nat/runner/runner_test.go
Due: none

gomod
  op-nat/go.mod
  op-nat/go.sum
Due: none

allow whole packages to be specified. simplified code.
  op-nat/cmd/main.go
  op-nat/discovery/config.go
  op-nat/discovery/debug.go
  op-nat/discovery/debug_test.go
  op-nat/discovery/discovery.go
  op-nat/discovery/discovery_test.go
  op-nat/discovery/testdata/validators/validators_test.go
  op-nat/justfile
  op-nat/nat.go
  op-nat/nat_test.go
  op-nat/registry/registry.go
  op-nat/registry/registry_test.go
  op-nat/runner/runner.go
  op-nat/runner/runner_test.go
  op-nat/types/types.go
  op-nat/validators.yaml
Due: none

updated example validators.yaml
  op-nat/validators.yaml
Due: none

gates inherit recursively
  op-nat/types/types.go
  op-nat/types/types_test.go
Due: none

simplified flag names
  op-nat/config.go
  op-nat/flags/flags.go
Due: none

updated README
  op-nat/README.md
  op-nat/example-validators.yaml
  op-nat/validators.yaml
Due: none

handle skipped tests
  op-nat/metrics/metrics.go
  op-nat/nat.go
  op-nat/runner/runner.go
  op-nat/runner/runner_test.go
  op-nat/types/metadata.go
Due: none

improved output prettyness.
  op-nat/metrics/metrics.go
  op-nat/metrics/metrics_test.go
  op-nat/nat.go
  op-nat/runner/runner.go
Due: none

removed network code and manifest flag
  op-nat/config.go
  op-nat/flags/flags.go
  op-nat/network/network.go
Due: none
