Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

parameters:
  # 
  # 
  # These parameters are passed down to the continuation pipeline
  # Thet are defined here so that the UI form for triggering pipelines
  # is prepopulated and only allows for valid values to be set
  # 
  # 
  # An explicit boolean parameter that triggers the tag-service pipeline
  run-tag-service:
    type: boolean
    description: "Run the tag-service job. tag-service--bump and tag-service--service parameters also need to be specified"
    default: false
  # Controls the version bump for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--bump:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "major", "minor", "patch", "prerelease", "finalize-prerelease", "missing"]
    default: ""
  # Controls the affected service for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--service:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "op-signer", "op-ufm", "op-txproxy", "proxyd", "peer-mgmt-service"]
    default: ""
  # Toggle between prerelase and release for the tag-service job
  tag-service--prerelease:
    type: boolean
    description: "Toggle between prerelase and release for the tag-service job"
    default: false

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            .circleci/.* run-all true
            .github/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix(op-acceptor): logging improvements
  op-acceptor/logging/ansi_strip_test.go
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_dotpackage_test.go
  op-acceptor/logging/filelogger_output_test.go
  op-acceptor/logging/integration_test.go
  op-acceptor/reporting/html_sink.go
  op-acceptor/reporting/html_sink_links_test.go
  op-acceptor/runner/output_capture_test.go
  op-acceptor/runner/parser.go
  op-acceptor/runner/parser_subtest_output_test.go
  op-acceptor/runner/runner.go
Due: none

fix(op-acceptor): logging improvements (#474)
  op-acceptor/logging/ansi_strip_test.go
  op-acceptor/logging/filelogger.go
  op-acceptor/logging/filelogger_dotpackage_test.go
  op-acceptor/logging/filelogger_output_test.go
  op-acceptor/logging/integration_test.go
  op-acceptor/reporting/html_sink.go
  op-acceptor/reporting/html_sink_links_test.go
  op-acceptor/runner/output_capture_test.go
  op-acceptor/runner/parser.go
  op-acceptor/runner/parser_subtest_output_test.go
  op-acceptor/runner/runner.go
Due: none

test
  proxyd/integration_tests/testdata/public_access.toml
Due: run-build-proxyd

add test for public access functionality
  proxyd/integration_tests/public_access_test.go
Due: run-build-proxyd

fix public access test to properly test authentication rejection
  proxyd/integration_tests/public_access_test.go
Due: run-build-proxyd

Revert "fix public access test to properly test authentication rejection"
  proxyd/integration_tests/public_access_test.go
Due: run-build-proxyd

fix test name and expectation for invalid auth with public access
  proxyd/integration_tests/public_access_test.go
Due: run-build-proxyd

remove redundant invalid auth test
  proxyd/integration_tests/public_access_test.go
Due: run-build-proxyd

fix NewServer call signature in backend_test.go
  proxyd/backend_test.go
Due: run-build-proxyd

feat(op-acceptor): flake shake
  op-acceptor/README.md
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/logging/filelogger.go
  op-acceptor/nat.go
  op-acceptor/registry/registry.go
  op-acceptor/registry/registry_test.go
  op-acceptor/reporting/html_sink.go
  op-acceptor/runner/flake_shake.go
  op-acceptor/testlist/testlist.go
  op-acceptor/types/test.go
Due: none

add and fix test
  proxyd/integration_tests/public_access_test.go
  proxyd/integration_tests/testdata/public_access.toml
  proxyd/server.go
Due: run-build-proxyd

chore: remove unused min func
  op-acceptor/logging/raw_json_sink_test.go
Due: none

Enable public access and authentication (#424)
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/integration_tests/public_access_test.go
  proxyd/integration_tests/testdata/public_access.toml
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

feat(op-acceptor): flake shake (#475)
  op-acceptor/README.md
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/logging/filelogger.go
  op-acceptor/nat.go
  op-acceptor/registry/registry.go
  op-acceptor/registry/registry_test.go
  op-acceptor/reporting/html_sink.go
  op-acceptor/runner/flake_shake.go
  op-acceptor/testlist/testlist.go
  op-acceptor/types/test.go
Due: none

chore: remove unused min func (#476)
  op-acceptor/logging/raw_json_sink_test.go
Due: none

fix: circleci go releaser
  .circleci/continue_config.yml
Due: run-all

feat: add contexT
  .circleci/continue_config.yml
Due: run-all

feat: add --snasphot to not publish
  .circleci/continue_config.yml
Due: run-all

feat: add --snasphot to not publish p2 remove clean
  .circleci/continue_config.yml
Due: run-all

feat(op-acceptor): logging; improved ansi stripping
  op-acceptor/go.mod
  op-acceptor/go.sum
  op-acceptor/logging/ansi_strip_test.go
  op-acceptor/logging/filelogger.go
Due: none

spike forwarding
  proxyd/backend.go
Due: run-build-proxyd

add unit test
  proxyd/backend.go
  proxyd/backend_test.go
Due: run-build-proxyd

fix: circleci go releaser, by installing mise for every release
  .circleci/continue_config.yml
Due: run-all

feat(op-acceptor): logging; improved ansi stripping (#478)
  op-acceptor/go.mod
  op-acceptor/go.sum
  op-acceptor/logging/ansi_strip_test.go
  op-acceptor/logging/filelogger.go
Due: none

feat: try using install mise orb
  .circleci/continue_config.yml
Due: run-all

log eth raw tx
  proxyd/integration_tests/tx_hash_logging_test.go
  proxyd/server.go
Due: run-build-proxyd

fix: circleci go releaser, by installing mise for every release (#479)
  .circleci/continue_config.yml
Due: run-all

add req count and res time metric
  proxyd/backend.go
  proxyd/metrics.go
Due: run-build-proxyd

log eth raw tx
  proxyd/integration_tests/testdata/tx_hash_logging.toml
  proxyd/integration_tests/tx_hash_logging_test.go
  proxyd/server.go
Due: run-build-proxyd

add flag
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/integration_tests/testdata/tx_hash_logging.toml
  proxyd/integration_tests/tx_hash_logging_test.go
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd

Add transaction hash logging for sendRawTransaction methods (#481)
  proxyd/backend_test.go
  proxyd/config.go
  proxyd/integration_tests/testdata/tx_hash_logging.toml
  proxyd/integration_tests/tx_hash_logging_test.go
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/server_test.go
Due: run-build-proxyd

feat(op-acceptor): test; env passthrough.
  op-acceptor/runner/runner_test.go
Due: none

feat: test modifying circleci
  .circleci/continue_config.yml
Due: run-all

feat(op-acceptor): test; env passthrough. (#483)
  op-acceptor/runner/runner_test.go
Due: none

chore: fix comment
  op-acceptor/nat.go
Due: none

feat(op-acceptor): skip gates.
  op-acceptor/README.md
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/registry/registry.go
  op-acceptor/registry/registry_test.go
  op-acceptor/runner/runner.go
Due: none

chore: fix comment (#486)
  op-acceptor/nat.go
Due: none

feat(op-acceptor): skip gates. (#485)
  op-acceptor/README.md
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/registry/registry.go
  op-acceptor/registry/registry_test.go
  op-acceptor/runner/runner.go
Due: none

fix: setup routing from config
  proxyd/config.go
  proxyd/proxyd.go
Due: run-build-proxyd
