Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

parameters:
  # 
  # 
  # These parameters are passed down to the continuation pipeline
  # Thet are defined here so that the UI form for triggering pipelines
  # is prepopulated and only allows for valid values to be set
  # 
  # 
  # An explicit boolean parameter that triggers the tag-service pipeline
  run-tag-service:
    type: boolean
    description: "Run the tag-service job. tag-service--bump and tag-service--service parameters also need to be specified"
    default: false
  # Controls the version bump for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--bump:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "major", "minor", "patch", "prerelease", "finalize-prerelease", "missing"]
    default: ""
  # Controls the affected service for the tag-service job
  # 
  # If left empty, the tag-service job will not run
  tag-service--service:
    type: enum
    description: "If left empty, the tag-service job will not run"
    enum: ["", "op-signer", "op-ufm", "op-txproxy", "proxyd", "peer-mgmt-service"]
    default: ""
  # Toggle between prerelase and release for the tag-service job
  tag-service--prerelease:
    type: boolean
    description: "Toggle between prerelase and release for the tag-service job"
    default: false

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            op-conductor-mon/.* run-build-op-conductor-mon true
            op-signer/.* run-build-op-signer true
            op-txproxy/.* run-build-op-txproxy true
            peer-mgmt-service/.* run-build-pms true
            op-ufm/.* run-build-op-ufm true
            proxyd/.* run-build-proxyd true
            cci-stats/.* run-build-cci-stats true
            .circleci/.* run-all true
            .github/.* run-all true
          filters:
            tags:
              only: /.*/

          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

feat: add additional setting to infra book
  book/book.toml
Due: none

feat: added consensus modes
  proxyd/book/src/SUMMARY.md
  proxyd/book/src/user-guide/consensus-modes.md
Due: run-build-proxyd

feat: update summary with proper table of contents
  README.md
  book/book.toml
  book/src/SUMMARY.md
Due: none

feat: add gitignores
  book/.gitignore
  proxyd/book/.gitignore
Due: run-build-proxyd

feat: books test
  book.toml
  proxyd/book.toml
Due: run-build-proxyd

feat: add proxyd book
  proxyd/book/book.toml
  proxyd/book/src/README.md
  proxyd/book/src/SUMMARY.md
  proxyd/book/src/user-guide/getting-started.md
Due: run-build-proxyd

feat: remove root infra book, and consensus user guides
  book/.gitignore
  book/book.toml
  book/src/SUMMARY.md
  proxyd/book/src/SUMMARY.md
  proxyd/book/src/user-guide/consensus-modes/consensus_aware.md
  proxyd/book/src/user-guide/consensus-modes/fallback.md
Due: run-build-proxyd

(chore): op-acceptor error handling refactor (#257)
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

refactor(proxyd): performAuthCallback sends request to middleware
  proxyd/server.go
Due: run-build-proxyd

Add timeout configuration support
  op-acceptor/cmd/main_test.go
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/justfile
  op-acceptor/nat.go
  op-acceptor/registry/registry.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/types/test.go
  op-acceptor/types/validator.go
Due: none

Add timeout configuration support (#262)
  op-acceptor/cmd/main_test.go
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/justfile
  op-acceptor/nat.go
  op-acceptor/registry/registry.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/types/test.go
  op-acceptor/types/validator.go
Due: none

refactor(proxyd): streamline logging in Start and populateContext functions, fix error handling in performAuthCallback for failed auth
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

logging
  proxyd/server.go
Due: run-build-proxyd

remove logs
  proxyd/server.go
Due: run-build-proxyd

generalize performAuthCallback
  proxyd/server.go
Due: run-build-proxyd

add debugging logs
  proxyd/server.go
Due: run-build-proxyd

log
  proxyd/server.go
Due: run-build-proxyd

fix authurl to add token
  proxyd/server.go
Due: run-build-proxyd

debugging
  proxyd/server.go
Due: run-build-proxyd

parameterize gen-local-tls further
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

add cases to enable constrained generation
  op-signer/gen-local-tls.sh
Due: run-build-op-signer

rename to gen-local-creds
  op-signer/README.md
  op-signer/gen-local-creds.sh
Due: run-build-op-signer

add http client
  proxyd/server.go
Due: run-build-proxyd

add httpclient to server
  proxyd/server.go
Due: run-build-proxyd

remove other client
  proxyd/server.go
Due: run-build-proxyd

remove fn
  proxyd/server.go
Due: run-build-proxyd

feat: add anon auth middleware
  op-signer/service/auth.go
Due: run-build-op-signer

feat: swap auth middleware if mtls is disabled
  op-signer/app.go
Due: run-build-op-signer

sh compatibility
  op-signer/gen-local-creds.sh
Due: run-build-op-signer

don't overwrite TLS_DIR
  op-signer/gen-local-creds.sh
Due: run-build-op-signer

feat: add GetAllProviders funcs to simplify new provider impl
  op-signer/provider/config.go
  op-signer/provider/provider.go
Due: run-build-op-signer

feat: updated logging
  op-signer/app.go
  op-signer/service/auth.go
Due: run-build-op-signer

chore(docs): remove deprecated release.md
  RELEASE.md
Due: none

chore(docs): update release instructions
  op-acceptor/README.md
  op-acceptor/runner/runner.go
Due: none

chore(docs): update release instructions (#267)
  op-acceptor/README.md
  op-acceptor/runner/runner.go
Due: none
