Repository ethereum-optimism/infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-op-conductor-mon, run-build-op-signer, run-build-op-txproxy, run-build-pms, run-build-op-ufm, run-build-proxyd, run-build-cci-stats, run-all

feat(proxyd): add external authentication support and refactor auth handling
  proxyd/example.config.toml
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

fix(proxyd): add staticcheck directive to suppress lint warning for context value assignment
  proxyd/server.go
Due: run-build-proxyd

feat(op-acceptor): handle package tests better. (#225)
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
  op-acceptor/types/test.go
  op-acceptor/types/validator.go
Due: none

feat(op-acceptor): handle multiple packge-wide tests nicer.
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat(op-acceptor): handle multiple packge-wide tests nicer. (#230)
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat(proxyd): implement stub authentication for testing purposes
  proxyd/server.go
Due: run-build-proxyd

feat(op-acceptor): Add run-once behavior for CI use-cases, enable by default
  op-acceptor/README.md
  op-acceptor/cmd/main.go
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/nat_test.go
Due: none

feat(op-acceptor): Add run-once behavior for CI use-cases, enable by default (#231)
  op-acceptor/README.md
  op-acceptor/cmd/main.go
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/nat_test.go
Due: none

feat(op-acceptor): update readme; tagging.
  op-acceptor/README.md
Due: none

feat(op-acceptor): Set exit code to indicate test run success or failure when operating in run-once mode
  op-acceptor/cmd/main.go
  op-acceptor/cmd/main_test.go
  op-acceptor/nat.go
  op-acceptor/nat_test.go
Due: none

feat(op-descriptor): Set exit code to indicate test run success or failure when operating in run-once mode
  op-acceptor/cmd/main.go
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/scheduler.go
  op-acceptor/utils.go
  op-acceptor/utils_test.go
Due: none

nat.go refactor
  op-acceptor/executor.go
  op-acceptor/executor_test.go
  op-acceptor/formatter.go
  op-acceptor/formatter_test.go
  op-acceptor/nat.go
  op-acceptor/nat_test.go
  op-acceptor/nat_test_executor_test.go
  op-acceptor/reporter.go
  op-acceptor/reporter_test.go
  op-acceptor/scheduler.go
  op-acceptor/scheduler_test.go
  op-acceptor/utils.go
Due: none

feat(op-acceptor): Set exit status codes according to test run result
  op-acceptor/cmd/main_test.go
  op-acceptor/nat.go
Due: none

feat(op-acceptor): Set exit status codes according to test run result (#234)
  op-acceptor/cmd/main_test.go
  op-acceptor/nat.go
Due: none

feat(op-acceptor): handle test panics
  op-acceptor/cmd/main_test.go
  op-acceptor/exitcodes/exitcodes.go
  op-acceptor/gandalf.go
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat(proxyd): enhance logging for authentication processes and change log level to debug
  proxyd/example.config.toml
  proxyd/server.go
Due: run-build-proxyd

refactor(proxyd): change log level to info and update logging statements for request handling
  proxyd/example.config.toml
  proxyd/server.go
Due: run-build-proxyd

refactor(proxyd): improve logging statements for context population and authentication callback
  proxyd/server.go
Due: run-build-proxyd

refactor(proxyd): streamline authentication handling and improve logging for auth_url resolution
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

refactor(proxyd): enhance authentication logging and streamline auth_url processing
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

feat(op-acceptor): update readme; tagging. (#232)
  op-acceptor/README.md
Due: none

refactor: add more debugging logs
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

minor log change
  proxyd/proxyd.go
Due: run-build-proxyd

feat(proxyd): change legacy authentication checks to fail open
  proxyd/proxyd.go
  proxyd/server.go
Due: run-build-proxyd

feat(op-acceptor): add typed errors
  op-acceptor/cmd/main.go
  op-acceptor/errors.go
  op-acceptor/nat.go
Due: none

feat(op-acceptor): handle test panics (#242)
  op-acceptor/cmd/main.go
  op-acceptor/cmd/main_test.go
  op-acceptor/errors.go
  op-acceptor/exitcodes/exitcodes.go
  op-acceptor/gandalf.go
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat(op-acceptor): skip counts as a fail.
  op-acceptor/README.md
  op-acceptor/cmd/main.go
  op-acceptor/cmd/main_test.go
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

feat(op-acceptor): skip counts as a fail. (#238)
  op-acceptor/README.md
  op-acceptor/cmd/main.go
  op-acceptor/cmd/main_test.go
  op-acceptor/config.go
  op-acceptor/flags/flags.go
  op-acceptor/nat.go
  op-acceptor/runner/runner.go
  op-acceptor/runner/runner_test.go
Due: none

fix(op-acceptor): Fix segfault in error case of test runner
  op-acceptor/runner/runner.go
  op-acceptor/types/test.go
Due: none

fix(op-acceptor): Fix segfault in error case of test runner (#243)
  op-acceptor/runner/runner.go
  op-acceptor/types/test.go
Due: none

fix(ci): coverage.
  .circleci/continue_config.yml
Due: run-all

simplify resolvedAuth map logic
  proxyd/example.config.toml
  proxyd/proxyd.go
Due: run-build-proxyd

Path conditions:
  run-build-op-conductor-mon: any of: op-conductor-mon/.*
  run-build-op-signer: any of: op-signer/.*
  run-build-op-txproxy: any of: op-txproxy/.*
  run-build-pms: any of: peer-mgmt-service/.*
  run-build-op-ufm: any of: op-ufm/.*
  run-build-proxyd: any of: proxyd/.*
  run-build-cci-stats: any of: cci-stats/.*
  run-all: (any of: .circleci/.*) or (any of: .github/.*)
